<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <span class="h3">Listado de Empleados</span>
                <button class="btn btn-dark btn-md float-right" routerLink="/create-empleado">Agregar</button>
            </div>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Juna</td>
                    <td>Perez</td>
                    <td>130.302.020</td>
                    <td>$250.000</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mx-3 cursor-pointer"></i>
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Juna</td>
                    <td>Perez</td>
                    <td>130.302.020</td>
                    <td>$250.000</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mx-3"></i>
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Juna</td>
                    <td>Perez</td>
                    <td>130.302.020</td>
                    <td>$250.000</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mx-3"></i>
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>